server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health, info
      base-path: /actuator
  endpoint:
    health:
      show-details: never
  info:
    env:
      enabled: true
app:
  db:
    init:
      enabled: true

spring:
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
  r2dbc:
    url: r2dbc:mysql://mysql:3306/parking_db
    username: parkinguser
    password: parkingpass
